.irs{
    position: relative;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    height: 8px;
    border-radius: 50px;
}
.form_choice .irs.js-irs-0{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
aside .form_choice .irs.js-irs-0{
    display: block;
    width: 100%;
    margin: 32px 0 0 0;
}
.irs-line{
    height: 8px;
    background: #b9364d;
    border-radius: 50px;
}
.irs-bar{
    top: 0;
    height: 8px;
    background: #b9364d;
    border-radius: 50px 0 0 50px;
    opacity: 0;
}
.irs-min,
.irs-max{
    display: none !important;
}

.irs-single{
    visibility: hidden !important;
}

.irs-from{
    visibility: visible !important;
    left: -75px !important;
}
.table_filter_big .price_filter .irs-from{
    left: -65px !important;
}
.aside_filter .irs-from{
    top: -36px;
    left: 0 !important;
}
.irs-to{
    visibility: visible !important;
    left: auto !important;
    right: -75px !important;
}
.table_filter_big .price_filter .irs-to{
    right: -65px !important;
}
.aside_filter .irs-to{
    top: -36px;
    right: 0 !important;
}

.irs-slider{
    position: relative;
    top: -11px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #3f4040;
    overflow: hidden;
    cursor: pointer;
    text-indent: -9999px;
}
.irs-slider:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: .45;
}
.irs-slider.to{
    background-position: -25px 0;
}



.irs-line{
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left,
.irs-line-mid,
.irs-line-right{
    position: absolute;
    top: 0;
    display: block;
}
.irs-line-left{
    left: 0;
    width: 11%;
}
.irs-line-mid{
    left: 9%;
    width: 82%;
}
.irs-line-right{
    right: 0;
    width: 11%;
}

.irs-bar{
    position: absolute;
    left: 0 !important;
    display: block;
    width: 0;
}
.irs-bar-edge{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.irs-shadow{
    position: absolute;
    left: 0;
    display: none;
    width: 0;
}

.irs-slider{
    position: absolute;
    z-index: 1;
    display: block;
}



.irs-slider.type_last{
    z-index: 2;
}

.irs-min{
    position: absolute;
    left: 0;
    display: block;
    cursor: default;
}
.irs-max{
    position: absolute;
    right: 0;
    display: block;
    cursor: default;
}

.irs-from,
.irs-to,
.irs-single{
    position: absolute;
    top: 0;

    display: none !important;
    cursor: default;
    width: 65px;
    height: 30px;
    border: 1px solid #99a3b4;
    white-space: nowrap;
    color: #4e5f71;
    font: 15px/28px 'TrebuchetMS';
    padding: 0 8px;

}
.table_filter_big .price_filter .irs-from,
.table_filter_big .price_filter .irs-to,
.table_filter_big .price_filter .irs-single{
    width: 55px;
}
.irs-grid{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 20px;
}
.irs-with-grid .irs-grid{
    display: block;
}
.irs-grid-pol{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}
.irs-grid-pol.small{
    height: 4px;
}
.irs-grid-text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 3px;
    color: #000;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
    white-space: nowrap;
}

.irs-disable-mask{
    position: absolute;
    top: 0;
    left: -1%;
    z-index: 2;
    display: block;
    width: 102%;
    height: 100%;
    background: rgba(0,0,0,.0);
    cursor: default;
}
.lt-ie9 .irs-disable-mask{
    background: #000;

    cursor: not-allowed;

    filter: alpha(opacity=0);
}
.irs-disabled{
    opacity: .4;
}

.irs-hidden-input{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -9999 !important;
    display: block !important;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    border-style: solid !important;
    border-color: transparent !important;
    outline: none !important;
    background: none !important;
}

